<% content_for :title do %>
  FoodTracker &ndash; <%= DateTime.now.strftime("%I:%M %p - %-d %b %Y") %>
<% end %>

<% if @entries.present? %>
<div class="field mt-5 has-text-centered">
  <%= form_with(url: entries_path, method: :get, local: true) do %>
    <div class="control">
      <div class="select">
        <%= select_tag :meal_type, options_for_select([['All', 'all'], ['Breakfast', 'Breakfast'], ['Lunch', 'Lunch'], ['Dinner', 'Dinner']], selected: params[:meal_type]), prompt: "Select a meal type" %>
      </div>
      <%= submit_tag 'Filter', class: "button is-primary ml-3" %>
    </div>
  <% end %>
</div>
<% else %>

<div class="field mt-5 has-text-centered">
 
      <%= link_to 'Create First Entry for Today', new_entry_path class: "button is-primary ml-3" %>
    
</div>
<% end %>

<div class="columns is-multiline mt-3">
  <% @entries.each do |entry| %>
    <div class="column is-one-third">
      <%= render "shared/card", 
        meal_type: entry.meal_type, 
        calories: entry.calories, 
        proteins: entry.proteins, 
        carbohydrates: entry.carbohydrates, 
        fats: entry.fats, 
        time: entry.created_at,
        link_path_show: entry, 
        link_path_edit: edit_entry_path(entry)
       %>
    </div>
  <% end %>
</div>

      




