<div class="columns is-multiline mt-4">
  <% @entries.each do |day, entries| %>
    <div class="column is-one-third">
      <div class="card mb-4 p-2">
        <header class="card-header has-background-info">
          <p class="card-header-title is-size-6 has-text-centered has-text-white">
            Entries for <%= day %>
          </p>
        </header>
        <nav class="px-3 py-2">
          <div class="columns is-mobile is-multiline is-variable is-1">
            <div class="column is-one-quarter">
              <p class="heading has-text-weight-semibold">Calories</p>
              <p class="title is-5 has-text-primary"><%= entries.pluck(:calories).sum %></p>
            </div>
            <div class="column is-one-quarter">
              <p class="heading has-text-weight-semibold">Protein</p>
              <p class="title is-5 has-text-success"><%= entries.pluck(:proteins).sum %>g</p>
            </div>
            <div class="column is-one-quarter">
              <p class="heading has-text-weight-semibold">Carbs</p>
              <p class="title is-5 has-text-warning"><%= entries.pluck(:carbohydrates).sum %>g</p>
            </div>
            <div class="column is-one-quarter">
              <p class="heading has-text-weight-semibold">Fats</p>
              <p class="title is-5 has-text-danger"><%= entries.pluck(:fats).sum %>g</p>
            </div>
          </div>
        </nav>
        <div class="card-content py-2 px-3">
          <div class="content">
            <% entries.each do |entry| %>
              <%= link_to entry_path(entry), class: "has-text-dark" do %>
                <div class="box mb-2 p-2">
                  <p class="is-size-7 has-text-info">
                    <strong><%= entry.meal_type %></strong>
                  </p>
                  <p class="is-size-7">
                    <span class="has-text-weight-bold">Calories:</span> <%= entry.calories %> kcal <br />
                    <span class="has-text-weight-bold">Protein:</span> <%= entry.proteins %>g <br />
                    <span class="has-text-weight-bold">Carbohydrates:</span> <%= entry.carbohydrates %>g <br />
                    <span class="has-text-weight-bold">Fats:</span> <%= entry.fats %>g
                  </p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
