<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <svg width="640" height="160" viewBox="0 0 640 160" fill="none" xmlns="http://www.w3.org/2000/svg">
         <%= image_tag("logo.svg", alt: "FoodTracker Logo", width: "100", height: "100") %>
      </svg>
    <% end %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>




    <div class="navbar-item">
    
      <h1 class="title is-4 has-text-centered">
      <% if content_for(:title) %>
        <%= yield :title %>
        <% else %>
      FoodTracker
      <% end %>
      </h1>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to "View Entries", entries_path, class: "button is-light" %>
          <%= link_to "Create New Entry", new_entry_path, class: "button is-primary" %>
        </div>
      </div>
    </div>
  </div>
</nav>
